body{
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 8px;
  width: 100%;
  max-width: 1800px;
}

.navigation .button-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.todo-list{
  padding:0px
}

.todo-list li{
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li h5{
  margin: 0;
}

.btn {
  border-radius: 5px;
  background-color: #8BCEFF;
  padding: 8px;
  border: 0;
  color: #1F5780;
}

.btn-lg {
  min-height: 39px;
}

.input {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-height: 30px;
  font-size: 20px;
  color: gray;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container{
  max-width: 500px;
  width: 100%;
}

.input-form {
  display: flex;
  gap: 5px;
}

.input-todo {
  flex:1
}

.icon {
  cursor: pointer;
}

.separator {
  margin-top: 50px;
  margin-bottom: 50px;
}

.todo-completed{
  color: gray;
  text-decoration: line-through;
}